.borderless{
            box-sizing: border-box;
        }

 .scrumboard {
   margin: 0 auto;
   width: 100%;
 }

 h1 {
   font-family: 'Segoe UI';
   font-weight: lighter;
   font-size:30px;
   text-align:center;
 }

 .column {
   box-sizing: border-box;
   width: 25%;
   float: left;
   border-right: 1px solid lightgrey;
   border-left: 1px solid lightgray;
   height: 100vh;
 }

 .portlet {
            font-family: 'Segoe UI', 'helvetica', 'arial';
            font-size: 15px;

            display: grid;
            grid-template-columns: auto 2em;
            grid-template-rows: 2em 2em;

            margin: 1em;
        }



 .portlet-toggle {
   position: absolute;
   top: 50%;
   right: 0;
   margin-top: -8px;
 }


 .portlet-placeholder {
   border: 2px dotted black;
   margin: 1em;
   height: 5em;
 }


.portlet-button-delete {
            grid-column-start: 2;
            grid-row-start: 1;

            background-color: lightcoral;

            text-align: center;

            line-height: 2em;
            width: 2em;
            height: 2em;

            cursor: pointer;

            border:thin solid gray;

            border-bottom:none;
        }

 
.portlet-button-info {
            grid-column-start: 2;
            grid-row-start: 2;

            background-color: lightblue;

            text-align: center;

            line-height: 2em;
            width: 2em;
            height: 2em;

            cursor: pointer;

            border:thin solid gray;
        }

 
        .portlet-text {
            grid-column-start: 1;
            grid-row-start: 1;
            grid-row-end: 3;

            padding: 0.2em;
            
            overflow: hidden;

            display: flex;
            justify-content:center;
            align-content:center;
            flex-direction:column;

            text-align:center;

            cursor: move;

            border: thin solid gray;
            border-right:none;
        }